

/* ---- MEDIA QUERIES ---- */

/* Medium screen (tablet) */
/* ---- general styling (ALL PAGES ) ---- */
@media screen and (max-width: 768px) {
    .navbar-nav {
        background-color: rgb(252, 224, 224, 0.5);
    }
    .main-h {
        font-size: 52px;
    }

    .navbar-toggle, .navbar-toggle-icon {
        display: inline-block;
    }

/* ---- Styling (HOME) ---- */

    .home-row, .row {
        flex-direction: column;
        align-items: center;
    }  
}


/* Mobile screen */
/* ---- general styling (ALL PAGES ) ---- */
@media screen and (max-width: 479px) {
    .main-h {
        font-size: 36px;
    }
}



